@require './config.styl';
@require './code.styl';
@require './custom-blocks.styl';
@require './wrapper.styl';
@require './sw-popup.styl';
@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css';
@require '~vue-themify-icons/themify-icons/themify-icons.css';

.font-sans {
  font-family: serif;
}